
    body{
        background-color: black;

    }
    h1{color: magenta;margin-left: 40px;}
    p{text-align: center;color: crimson;}
    .center{
        text-align:center;
        color: rgb(151, 255, 151);
    }
    p.center{
        text-align:center;
        color: rgb(255, 115, 0);
    }
